
/* USED */
$colorPrimary1:#0FF3AE;
$colorPrimary2:rgba(15, 243, 174, 0.11);
$colorPrimary3:rgba(15, 243, 174, 0.03);
$colorPrimary4:rgba(15, 243, 174, 0.25);

$colorSecondary1: #16AAFE;
$colorSecondary2: #4dbeff;

$colorDanger1: #FA637E;

$colorGrey1: #333851;
$colorGrey2: #7A95A8;
$colorGrey3: #86A5B6;

$colorDark: #20233D;

$colorWhite: #FFFFFF;



$gradientBackground: linear-gradient(105.91deg, #31334C 0%, #1A1D37 100%);;
$gradientHighlight: linear-gradient(95.12deg, #0FF3AD, #0fd1f3 150%, #0FF3AD 200%);
$gradientHighlight2: linear-gradient(95.12deg, #34ffc2, #13dcff 150%, #0FF3AD 200%);
$gradientLogo: linear-gradient(90deg, #12D7CD 0%, #16AAFE 100%);


// $colorBlack: #000;


// /* PRIMARY */

// $colorPrimary4: #F4F7FE;

// /* SECONDARY */
// $colorSecondary3: #FEF5D1;

// /* DANGER */
// $colorDanger2: #B42122;
// $colorDanger3: #F9D4D5;

// /* GREYS */

// $colorGrey4: #F2F2F2;
// $colorGrey5: #F5F5F5;
// $colorGrey6: #FBFBFB;

// /* DARK & LIGHT */
// $colorLight: #FFFFFF;

